@use '@porsche-design-system/components-react/styles' as *;

.container {
    padding: $pds-spacing-fluid-x-large $pds-spacing-fluid-xx-large $pds-spacing-fluid-large;
    background-color: black;
    color: white;
}

.whiteBackground {
    padding: $pds-spacing-fluid-x-large $pds-spacing-fluid-xx-large $pds-spacing-fluid-large;
    background-color: white;
    color: black;
}

.subContainer {
    padding-left: $pds-spacing-fluid-xx-large;
    padding-right: $pds-spacing-fluid-xx-large;
}

.text {
    @include pds-text-medium;
    padding-top: $pds-spacing-fluid-medium;
}

.headings {
    @include pds-heading-x-large;
}

.lightHeading {
    font-weight: lighter;
}