@use '@porsche-design-system/components-react/styles' as *;

.container {
    background-color: black;
    padding: $pds-spacing-fluid-small;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 4;
}

.translation {
    @include pds-text-medium
}

.logo {
    position: absolute; /* Absolute positioning to center the logo */
    left: 50%; /* Center the logo horizontally */
    transform: translateX(-50%);
}